body {
  max-width: 800px;
  padding: 2em 3%;
  font-family: sans-serif;
  margin: auto; }

.upload-progress {
  width: 596px;
  height: 25px;
  background-color: white;
  margin: 10px 2px;
  clear: both; }

.upload-progress .chunk {
  background-color: green;
  display: inline-block; }

.info, .info a {
  color: #ddd; }

.email {
  unicode-bidi: bidi-override;
  direction: rtl; }

textarea {
  width: 100%;
  border: 0;
  background-color: #f3f3ff;
  font-family: Menlo, monospace;
  font-size: 10px; }

hr {
  margin: 2em 0;
  border: 0;
  border-top: solid 1px #ddd; }
  hr.clear {
    clear: both;
    border: 0; }

.videos {
  margin: 0;
  margin-bottom: 5em;
  font-size: 14px; }
  .videos, .videos ul {
    list-style: none;
    padding: 0; }
  .videos a {
    text-decoration: none; }
    .videos a:hover > li {
      background-color: #f3f3ff; }
    .videos a > li {
      margin: 0.5em;
      padding: 1em;
      width: 24em;
      float: left; }
      .videos a > li li {
        padding: 0.25em 0; }
    .videos a h4 {
      margin-top: 0; }
