<!DOCTYPE html>
<html>
    <head>
        <title>Reid Uploader</title>
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
        <h1>Reid Uploader</h1>
        <p>Select a file. It will start uploading automatically.</p>
        <p><input type="file" id="file" /></p>
        <p><div class="upload-progress"></div></p>
        <p><textarea id="log" rows="10"></textarea></p>
        <hr />
        <div class="info">
            <p>
                <em>Mule Uploader</em> gets your file from your computer to <a href="http://aws.amazon.com/s3/">Amazon S3</a>, no matter what.
                Wireless just went down? A <a href="http://www.prwatch.org/files/images/angry-badger.jpg">badger</a> ate the power cord?
                You have to go now and need to resume the upload when you get back? <em>Mule Uploader</em> has you covered.
            </p>
            <p>
                Why use this? Because having a 3GB file interrupt at <em>87%</em> isn't pretty, not for you and especially not
                for your users.
            </p>
            <p>
                <b>New feature!</b> &ndash; it now uses four parallel XHR
                requests, so this means a huge improvement in upload speed!
            </p>
            <p>
                For more information, visit <a href="https://github.com/cinely/mule-uploader#mule-upload">the GitHub page</a>.
                (you can see the source code for this demo there, <em>and</em> you get free cookies!)
            </p>
            <p>If have any questions about this, drop me a line at
                <a href="mailto:&#103;&#97;&#98;&#105;&#64;&#112;&#117;&#114;&#99;&#97;&#114;&#117;&#46;&#99;&#111;&#109;">
                    <span class="email">moc&#46;uracrup&#64;ibag</span>
                </a>
            </p>
        </div>
        <script type="text/javascript" src="static/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="static/js/mule-uploader.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
        <script type="text/javascript">
            $(function() {
                reid_upload({
                    access_key: "{{ aws_access_key }}",
                    content_type: "{{ mime_type }}",
                    bucket: "{{ bucket }}",
                    key: "{{ key }}"
                    {% if ajax_base %}
                        , ajax_base: "{{ ajax_base }}"
                    {% endif %}
                })
            })
        </script>
    </body>
</html>
