<!DOCTYPE html>
<html>
    <head>
        <title>r2ware uploader</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <h1>r2ware uploader</h1>
        <p>Select a file. It will start uploading automatically.</p>
        <p><input type="file" id="file" /></p>
        <p><div class="upload-progress"></div></p>
        <p><textarea id="log" rows="10"></textarea></p>
        <hr />
        <ul class="videos">
        {% for video in videos %}
            {% if loop.index0 % 2 == 0 %}<hr class="clear" />{% endif %}
            <a href="{{ vid_urls[loop.index0] }}">
                <li>
                    <ul>
                        <li><h4>{{ video.key }}</h4></li>
                    {% if not video.status == 'done' %}
                        <li>Status: {{ video.status|capitalize }}</li>
                    {% endif %}
                    {% if not video.fps() == None %}
                        <li>Framerate: {{ video.fps() }} fps</li>
                    {% endif %}
                    {% if not video.width == None %}
                        <li>Width: {{ video.width }}</li>
                    {% endif %}
                    {% if not video.height == None %}
                        <li>Height: {{ video.height }}</li>
                    {% endif %}
                    {% if not video.num_audio_channels == None %}
                        <li>Audio Channels: {{ video.num_audio_channels }}</li>
                    {% endif %}
                    {% if not video.total_seconds() == None %}
                        <li>Duration: {{ video.total_seconds() }} seconds</li>
                    {% endif %}
                    {% if not video.filesize == None %}
                        <li>Filesize: {{ video.filesize }} bytes</li>
                    {% endif %}
                    <!-- These are not quite adding up to the total bitrate
                    {% if not video.video_bitrate == None %}
                        <li>Video Bitrate: {{ video.video_bitrate }} kb/s</li>
                    {% endif %}
                    {% if not video.audio_bitrate == None %}
                        <li>Audio Bitrate: {{ video.audio_bitrate }} kb/s</li>
                    {% endif %}
                    -->
                    {% if not video.total_bitrate() == None %}
                        <li>Total Bitrate: {{ video.total_bitrate() }} kb/s</li>
                    {% endif %}
                    </ul>
                </li>
            </a>
        {% endfor %}
        </ul>
        <hr class="clear" />
        <hr />
        <center>
          <a {% if prev_url %}href='{{ prev_url }}'{% else %}disabled{% endif %}>Previous</a>
          (Page
          <select id='id_page'>
            {% for p in page_list %}
            <option {% if p == page %}selected{% endif %}>{{ p }}</option>
            {% endfor %}
          </select>
          of {{ num_pages }})
          <a {% if next_url %}href='{{ next_url }}'{% else %}disabled{% endif %}>Next</a>
        </center>
        <script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="/static/js/mule-uploader.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript">
            $(function() {
                reid_upload({
                    access_key: '{{ aws_access_key }}',
                    bucket: '{{ bucket }}',
                    mime_types: {{ mime_types|safe }},
                    accepted_extensions: '{{ accepted_extensions }}'
                {% if ajax_base %}
                    , ajax_base: '{{ ajax_base }}'
                {% endif %}
                })
            })
            var $page = $('#id_page')
            $page.change(function () {
              window.location.pathname = '/page/' + $page.val()
            })
        </script>
    </body>
</html>
